# New-Item .dockerignore -ItemType File ~ Terminal Command to create the file


# python
venv311/
venv/
__pycache__/
*.pyc
.env

# data
data/
*.db

# notebooks output
notebooks/.ipynb_checkpoints/

# model cache
.cache/
*.cache

# huggingface cache
~/.cache/

# git
.git/

# misc
*.log