# Data
data/raw/*.csv
data/raw/*.zip
data/processed/*.csv
data/*.db

# Python
__pycache__/
*.py[cod]
.env
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Virtual environment
venv/
venv311/